.git
.git/**
.env
.env.*
!.env.example
.DS_Store
**/.DS_Store
**/.git
**/.git/**
**/node_modules
ezbookkeeping-eval/data
ezbookkeeping-eval/storage
ezbookkeeping-eval/log
ezbookkeeping-eval/backups
ezbookkeeping-eval/tmp
ezbookkeeping-eval/outputs
ezbookkeeping-eval/dist
ezbookkeeping-eval/public
ezbookkeeping-eval/testdata
**/*.db
**/*.sqlite
**/*.sqlite3
**/*.log
**/*.tar.gz
**/xcuserdata
**/*.xcuserstate
invest-pay-ios-work
